<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>
<table class="books">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Authors</th>
            <th>Comments</th>
            <th><!--delete action--></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td>
                <a href="edit.html" th:href="@{/edit(id=${book.id})}" th:text="${book.name}">John Doe</a>
            </td>
            <td th:text="${book.getGenreName()}">Adventure</td>
            <td th:text="${book.getAllAuthors()}">Author</td>
            <td th:text="${book.getAllComments()}">Some comment</td>
            <td>
                <a href="delete.html" th:href="@{/delete(id=${book.id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="edit.html" th:href="@{/create}">Add new book!</a>
</body>
</html>
